@model QL_KT_xa_sin_vien.Models.SinhVien

@{
    ViewData["Title"] = "Details";
}

<h1>Chi tiết</h1>

<div>
    <h4>SinhVien</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HoTen)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HoTen)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Lop)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lop)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Khoa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Khoa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoCmnd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoCmnd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        @* <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaTaiKhoanNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaTaiKhoanNavigation.MaTaiKhoan)
        </dd> *@
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.MaSv" class="btn btn-info">Chỉn sửa</a>
    @* <a asp-action="Index">Back to List</a> *@
</div>
