@model QL_KT_xa_sin_vien.Models.ThongBao

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ThongBao</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LoaiThongBao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LoaiThongBao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NoiDung)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NoiDung)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TrangThai)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TrangThai)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ThoiGianGui)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ThoiGianGui)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NguoiNhanNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NguoiNhanNavigation.MaTaiKhoan)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.MaThongBao">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
