@model IEnumerable<QL_KT_xa_sin_vien.Models.ThongBao>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LoaiThongBao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NoiDung)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrangThai)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ThoiGianGui)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NguoiNhanNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LoaiThongBao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NoiDung)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrangThai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ThoiGianGui)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NguoiNhanNavigation.MaTaiKhoan)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MaThongBao">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MaThongBao">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MaThongBao">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
