@model IEnumerable<QL_KT_xa_sin_vien.Models.PhanAnh>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MoTa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MucDoUuTien)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrangThai)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ThoiGianTao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ThoiGianCapNhat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaPhongNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaSvNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NguoiXuLyNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MoTa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MucDoUuTien)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrangThai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ThoiGianTao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ThoiGianCapNhat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaPhongNavigation.MaPhong)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaSvNavigation.MaSv)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NguoiXuLyNavigation.MaTaiKhoan)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MaPhanAnh">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MaPhanAnh">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MaPhanAnh">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
