@model QL_KT_xa_sin_vien.Models.Giuong

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Giuong</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoGiuong)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoGiuong)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TrangThai)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TrangThai)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaPhongNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaPhongNavigation.MaPhong)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OccupiedByNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OccupiedByNavigation.MaSv)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.MaGiuong">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
