@model QL_KT_xa_sin_vien.Models.DashboardViewModel
<link href="~/css/index.css" rel="stylesheet" />
<div class="dashboard-box">
    <h2>TỔNG QUAN HỆ THỐNG KÝ TÚC XÁ</h2>
    <div class="grid">
        <div class="card">
            <h3>Thông tin cá nhân</h3>
            <p>Mã sinh viên: @Model.SinhVien.MaSv</p>
            <p>Họ tên: @Model.SinhVien.HoTen</p>
            <p>Lớp: @Model.SinhVien.Lop</p>
            <a asp-controller="SinhViens" asp-action="Details" asp-route-id="@Model.SinhVien.MaSv" class="btn btn-primary">Chi tiết</a>
        </div>

        <div class="card">
            <h3>Phòng đang ở</h3>
            <p>@Model.Phong.ToaNha - Phòng @Model.Phong.MaPhong</p>
        </div>

        <div class="card">
            <h3>Hợp đồng</h3>
            <p>Bắt đầu: @Model.HopDong.NgayBatDau?.ToString("dd/MM/yyyy")</p>
            <p>Kết thúc: @Model.HopDong.NgayKetThuc?.ToString("dd/MM/yyyy")</p>
        </div>

        <div class="card">
            <h3>Hóa đơn</h3>
            @foreach (var hd in Model.HoaDons.Take(2))
            {
                <p>
                    Tháng @(hd.NgayXuat.HasValue? hd.NgayXuat.Value.Month : 0)/
                    @(hd.NgayXuat.HasValue? hd.NgayXuat.Value.Year : 0):
                    @hd.TrangThai
                </p>
            }
        </div>

        <div class="card">
            <h3>Phản ánh sự cố</h3>
            <p>@Model.PhanAnhs.Count(pa => pa.TrangThai == "Đang xử lý") phản ánh đang xử lý</p>
            <p>@Model.PhanAnhs.Count(pa => pa.TrangThai == "Hoàn thành") phản ánh đã hoàn thành</p>
            <a asp-action="Create" asp-controller="PhanAnhs" class="btn btn-primary">thêm phản ánh</a>
        </div>

        <div class="card">
            <h3>Thông báo</h3>
            <p>@Model.ThongBaos.First().NoiDung</p>
            <p>Ngày: @Model.ThongBaos.First().ThoiGianGui?.ToString("dd/MM/yyyy")</p>
        </div>
    </div>
</div>

