@model QL_KT_xa_sin_vien.Models.NhatKy

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>NhatKy</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HanhDong)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HanhDong)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DoiTuong)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DoiTuong)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GiaTriTruoc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GiaTriTruoc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GiaTriSau)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GiaTriSau)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ThoiGian)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ThoiGian)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NguoiThucHienNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NguoiThucHienNavigation.MaTaiKhoan)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.MaLog">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
