@model IEnumerable<QL_KT_xa_sin_vien.Models.NhatKy>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.HanhDong)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DoiTuong)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GiaTriTruoc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GiaTriSau)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ThoiGian)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NguoiThucHienNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.HanhDong)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DoiTuong)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GiaTriTruoc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GiaTriSau)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ThoiGian)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NguoiThucHienNavigation.MaTaiKhoan)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MaLog">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MaLog">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MaLog">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
